<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hl.hos.mapper.Doctor_with_disgnoseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hl.hos.pojo.Doctor_with_disgnose">
        <id column="id" property="id" />
        <result column="doctor_id" property="doctor_id" />
        <result column="disgnose_id" property="disgnose_id" />
        <result column="create_time" property="create_time" />
        <result column="stat" property="stat" />
        <result column="comment_text" property="comment_text" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, doctor_id, disgnose_id, create_time, stat, comment_text
    </sql>

</mapper>
