<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hl.hos.mapper.ProcessMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hl.hos.pojo.Process">
        <id column="id" property="id" />
        <result column="disgnose_id" property="disgnose_id" />
        <result column="fenfa" property="fenfa" />
        <result column="transactor" property="transactor" />
        <result column="fenfa_time" property="fenfa_time" />
        <result column="fenfa_comment" property="fenfa_comment" />
        <result column="transact_type" property="transact_type" />
        <result column="transact_time" property="transact_time" />
        <result column="transact_stat" property="transact_stat" />
        <result column="transact_comment" property="transact_comment" />
        <result column="create_time" property="create_time" />
        <result column="stat" property="stat" />
        <result column="comment_text" property="comment_text" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, disgnose_id, fenfa, transactor, fenfa_time, fenfa_comment, transact_type, transact_time, transact_stat, transact_comment, create_time, stat, comment_text
    </sql>

</mapper>
