<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>协同平台</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/okadmin.css">
    <style>
        .layui-header.okadmin-header.top {
            height: 69px;
            line-height: 69px;
            background: #32323A;
        }

        .okadmin-logo.left {
            height: 69px;
            line-height: 69px;
            background: #32323A;
            text-align: left;
            padding-left: 10px;
        }

        .okadmin-logo.left img {
            height: 60px;
            width: 65px;
            margin-right: 10px;
        }

        .user-photo {
            margin-top: 20px;
            border-top: 0px;
        }

        .content-body.center {
            top: 70px;
        }

        .layui-nav-child {
            background-color: #2d3b91;
            border: 0px;
        }
        .cpanel div.icon span {
            -moz-transition-duration: 0.8s;
            background-color: rgb(87 133 222);
            background-position: -30px 50%;
            border: 1px solid #CCCCCC;
            border-radius: 60px;
            color: #312e2e;
            display: block;
            float: left;
            height: 100px;
            width: 100px;
            text-align: center;
            text-indent: 0;
        }

        .cpanel div.icon span:hover {
            border: 1px solid blue;
        }
    </style>
</head>
<body class="layui-layout-body">
<!-- 更换主体 Eg:orange_theme|blue_theme -->
<div class="layui-layout layui-layout-admin okadmin blue_theme">
    <!--头部导航-->
    <div class="layui-header okadmin-header top">
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item">
                <a class="ok-menu ok-show-menu" href="javascript:" title="菜单切换">
                    <i class="layui-icon layui-icon-shrink-right"></i>
                </a>
            </li>
            <li class="layui-nav-item " style="margin:-20px 0 0 -15px; display: none" id="policeLogo">
                <div class="okadmin-logo left" style="font-size: 16px">
                    <img src="/images/login.jpg">
                    协作医生
                </div>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a class="ok-refresh" href="javascript:" title="刷新">
                    <i class="layui-icon layui-icon-refresh-3"></i>
                </a>
            </li>
            <li class="layui-nav-item layui-hide-xs">
                <a id="fullScreen" class=" pr10 pl10" href="javascript:">
                    <i class="layui-icon layui-icon-screen-full"></i>
                </a>
            </li>

            <li class="no-line layui-nav-item">
                <a href="javascript:">
                    <span name="policName"></span>
                </a>
                <dl id="userInfo" class="layui-nav-child">
                    <dd><a lay-id="u-1" href="javascript:" id="doctor_info_center">个人中心</a></dd>
                    <dd><a lay-id="u-2" href="javascript:" id="changePwd" >密码修改</a></dd>
                    <dd>
                        <hr/>
                    </dd>
                    <dd><a href="javascript:void(0)" id="logout">退出登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <!--遮罩层-->
    <div class="ok-make"></div>
    <!--左侧导航区域-->
    <div class="layui-side layui-side-menu okadmin-bg-20222A ok-left">
        <div class="layui-side-scroll okadmin-side">
            <div class="okadmin-logo left">
                协作平台
            </div>
            <div class="user-photo">
                <a class="img" >
                    <div class="cpanel">
                        <div class="icon">
                            <span style="width: 80px;height: 80px; line-height: 80px;font-size: 40px" id="policNameOne"></span>
                        </div>
                    </div>
                </a>
                <p>你好！<span class="userName" id="username" name="policName" th:text="${session.doctor_info.doctor_name}"></span>, 欢迎登录</p>
            </div>
            <!--左侧导航菜单-->
            <ul id="navBar" class="layui-nav okadmin-nav okadmin-bg-20222A layui-nav-tree">
                <li class="layui-nav-item layui-this">
                    <a href="javascript:" lay-id="1" data-url="">
                        <i is-close=false class="ok-icon">&#xe66f;</i>
                        首页
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- 内容主体区域 -->
    <div class="content-body center">
        <div class="layui-tab ok-tab" lay-filter="ok-tab" lay-allowClose="true" lay-unauto>
            <div data-id="left" id="okLeftMove"
                 class="ok-icon ok-icon-back okadmin-tabs-control move-left okNavMove"></div>
            <div data-id="right" id="okRightMove"
                 class="ok-icon ok-icon-right okadmin-tabs-control move-right okNavMove"></div>
            <div class="layui-icon okadmin-tabs-control ok-right-nav-menu" style="right: 0;">
                <ul class="okadmin-tab">
                    <li class="no-line okadmin-tab-item">
                        <div class="okadmin-link layui-icon-down" href="javascript:;"></div>
                        <dl id="tabAction" class="okadmin-tab-child layui-anim-upbit layui-anim">
                            <dd><a data-num="1" href="javascript:">关闭当前标签页</a></dd>
                            <dd><a data-num="2" href="javascript:">关闭其他标签页</a></dd>
                            <dd><a data-num="3" href="javascript:">关闭所有标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>

            <ul id="tabTitle" class="layui-tab-title ok-tab-title not-scroll">
                <li class="layui-this" lay-id="1" tab="index">
                    <i class="ok-icon">&#xe66f;</i>
                    <cite is-close=false></cite>
                </li>
            </ul>

            <div id="tabContent" class="layui-tab-content ok-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe src='pages/assistDoctors/askDiagnosisList.html' frameborder="0" scrolling="yes" width="100%" id="ifa"
                            height="100%"></iframe>
                </div>
            </div>
        </div>
    </div>

    <!--底部信息-->
    <div class="layui-footer okadmin-text-center">

    </div>
</div>
<div class="yy"></div>
<!--js逻辑-->
<script src="js/jquery.min.js"></script>
<script src="lib/layui/layui.js"></script>
<!--<script src="js/indexJs/assistCenter.js"></script>-->
<script>
    let url ="";
    $.ajax({
        url:"/getInfo",
        type:"GET",
        success:function (result){
            if(result.stat == 1){
                url ="/data/indexJson/assistCenter.json"
            }else{
                url ="/data/indexJson/otherC.json"
            }
        }
    })

    $("#doctor_info_center").on("click",function(){
        //打开医生信息界面
        window.open("/pages/assistDoctors/doctor_info_update.html")
    })

    var objOkTab = "";

    layui.use(["element", "layer", "okUtils", "okTab", "okLayer", "jQContextMenu"], function () {
        var okUtils = layui.okUtils;
        var $ = layui.jquery;
        var layer = layui.layer;
        var okLayer = layui.okLayer;

        var okTab = layui.okTab({
            // 菜单请求路径
            url,
            // 允许同时选项卡的个数
            openTabNum: 30,
            // 如果返回的结果和navs.json中的数据结构一致可省略这个方法
            parseData: function (data) {
                return data;
            }
        });
        objOkTab = okTab;

        /**
         * 左侧导航渲染完成之后的操作
         */
        okTab.render(function () {
            /**tab栏的鼠标右键事件**/
            $("body .ok-tab").contextMenu({
                width: 'auto',
                itemHeight: 30,
                menu: [
                    {
                        text: "定位所在页",
                        icon: "ok-icon ok-icon-location",
                        callback: function () {
                            okTab.positionTab();
                        }
                    },
                    {
                        text: "关闭当前页",
                        icon: "ok-icon ok-icon-roundclose",
                        callback: function () {
                            okTab.tabClose(1);
                        }
                    },
                    {
                        text: "关闭其他页",
                        icon: "ok-icon ok-icon-roundclose",
                        callback: function () {
                            okTab.tabClose(2);
                        }
                    },
                    {
                        text: "关闭所有页",
                        icon: "ok-icon ok-icon-roundclose",
                        callback: function () {

                            okTab.tabClose(3);
                        }
                    }
                ]
            });
        });

        /**
         * 添加新窗口
         */
        $("body").on("click", "#navBar .layui-nav-item a, #userInfo a", function () {
            // 如果不存在子级
            if ($(this).siblings().length == 0) {
                okTab.tabAdd($(this));
            }
            // 关闭其他展开的二级标签
            $(this).parent("li").siblings().removeClass("layui-nav-itemed");
            if (!$(this).attr("lay-id")) {
                var topLevelEle = $(this).parents("li.layui-nav-item");
                var childs = $("#navBar > li > dl.layui-nav-child").not(topLevelEle.children("dl.layui-nav-child"));
                childs.removeAttr("style");
            }
        });

        /**
         * 左侧菜单展开动画
         */
        $("#navBar").on("click", ".layui-nav-item a", function () {
            if (!$(this).attr("lay-id")) {
                var superEle = $(this).parent();
                var ele = $(this).next('.layui-nav-child');
                var height = ele.height();
                ele.css({"display": "block"});
                // 是否是展开状态
                if (superEle.is(".layui-nav-itemed")) {
                    ele.height(0);
                    ele.animate({height: height + "px"}, function () {
                        ele.css({height: "auto"});
                    });
                } else {
                    ele.animate({height: 0}, function () {
                        ele.removeAttr("style");
                    });
                }
            }
        });

        /**
         * 左边菜单显隐功能
         */
        $(".ok-menu").click(function () {
            $(".layui-layout-admin").toggleClass("ok-left-hide");
            $(this).find("i").toggleClass("ok-menu-hide");
            localStorage.setItem("isResize", false);
            setTimeout(function () {
                localStorage.setItem("isResize", true);
            }, 1200);
            $("#policeLogo").toggle();
        });

        /**
         * 移动端的处理事件
         */
        $("body").on("click", ".layui-layout-admin .ok-left a[data-url], .ok-make", function () {
            if ($(".layui-layout-admin").hasClass("ok-left-hide")) {
                $(".layui-layout-admin").removeClass("ok-left-hide");
                $(".ok-menu").find('i').removeClass("ok-menu-hide");
            }
        });

        /**
         * tab左右移动
         */
        $("body").on("click", ".okNavMove", function () {
            var moveId = $(this).attr("data-id");
            var that = this;
            okTab.navMove(moveId, that);
        });

        /**
         * 刷新当前tab页
         */
        $("body").on("click", ".ok-refresh", function () {
            okTab.refresh(this);
        });

        /**
         * 关闭tab页
         */
        $("body").on("click", "#tabAction a", function () {
            var num = $(this).attr("data-num");
            okTab.tabClose(num);
        });

        /**
         * 全屏/退出全屏
         */
        $("body").on("keydown", function (event) {
            event = event || window.event || arguments.callee.caller.arguments[0];
            // 按 Esc
            if (event && event.keyCode === 27) {
                console.log("Esc");
                $("#fullScreen").children("i").eq(0).removeClass("okicon-screen-restore");
            }
            // 按 F11
            if (event && event.keyCode == 122) {
                $("#fullScreen").children("i").eq(0).addClass("okicon-screen-restore");
            }
        });

        $("body").on("click", "#fullScreen", function () {
            if ($(this).children("i").hasClass("okicon-screen-restore")) {
                screenFun(2).then(function () {
                    $(this).children("i").eq(0).removeClass("okicon-screen-restore");
                });
            } else {
                screenFun(1).then(function () {
                    $(this).children("i").eq(0).addClass("okicon-screen-restore");
                });
            }
        });

        /**
         * 全屏和退出全屏的方法
         * @param num 1代表全屏 2代表退出全屏
         * @returns {Promise}
         */
        function screenFun(num) {
            num = num || 1;
            num = num * 1;
            var docElm = document.documentElement;

            switch (num) {
                case 1:
                    if (docElm.requestFullscreen) {
                        docElm.requestFullscreen();
                    } else if (docElm.mozRequestFullScreen) {
                        docElm.mozRequestFullScreen();
                    } else if (docElm.webkitRequestFullScreen) {
                        docElm.webkitRequestFullScreen();
                    } else if (docElm.msRequestFullscreen) {
                        docElm.msRequestFullscreen();
                    }
                    break;
                case 2:
                    if (document.exitFullscreen) {
                        document.exitFullscreen();
                    } else if (document.mozCancelFullScreen) {
                        document.mozCancelFullScreen();
                    } else if (document.webkitCancelFullScreen) {
                        document.webkitCancelFullScreen();
                    } else if (document.msExitFullscreen) {
                        document.msExitFullscreen();
                    }
                    break;
            }

            return new Promise(function (res, rej) {
                res("返回值");
            });
        }

        /**
         * 弹窗皮肤
         */
        $("#alertSkin").click(function () {
            okLayer.open("皮肤动画", "pages/system/alertSkin.html", "50%", "45%", function (layero) {
            }, function () {
            });
        });

        /**
         * 退出操作
         */
        $("#logout").click(function () {
            okLayer.confirm("确定要退出吗？", function (index) {
                $.ajax({
                    url: '/logOut',
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        okTab.tabClose(3);
                        sessionStorage.setItem('tabMenu', '');
                        sessionStorage.setItem('tabMenuLeft', '');
                        window.sessionStorage.setItem("police", "");
                        window.location = "/";
                    },
                    error: function () {
                        okTab.tabClose(3);
                        sessionStorage.setItem('tabMenu', '');
                        sessionStorage.setItem('tabMenuLeft', '');
                        window.sessionStorage.setItem("police", "");
                        window.location = "/login.html";
                    }
                });
            });
        });

        /**
         * 锁定账户
         */
        $("#lock").click(function () {
            okLayer.confirm("确定要锁定账户吗？", function (index) {
                layer.close(index);
                $(".yy").show();
                layer.prompt({
                    btn: ['确定'],
                    title: '输入密码解锁(123456)',
                    closeBtn: 0,
                    formType: 1
                }, function (value, index, elem) {
                    if (value == "123456") {
                        layer.close(index);
                        $(".yy").hide();
                    } else {
                        layer.msg('密码错误', {anim: 6, time: 1000});
                    }
                });
            });
        });
    });
</script>



<script>
</script>
</body>
</html>
