<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>协作平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="协作平台">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="./css/oksub.css">
    <link rel="stylesheet" href="./lib/layui/css/layui.css">

    <style type="text/css">
        body{
            background-image: url(/images/login_bg.jpeg);
            -webkit-background-size: cover;
            -o-background-size: cover;
            background-position: center 0;
            background-size: cover;
        }
        .tit{
            text-align: center;
            margin-top: 2rem;
            filter:Alpha(opacity=50);/* 只支持IE6、7、8、9 */
            position:static; /* IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 */
            *zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
        }
    </style>
</head>
<body>
<div class="page-fill" id="login" style="margin-top: 20%">

    <form class="layui-form" action="userLogin" method="post">
        <h2 class="tit">国家结构性心脏病介入质控中心影像评估核心实验室</h2>

        <span th:text="${session.error}" style="color: red"></span>
        <div class="layui-form-item input-item" style="margin-top: 50px">
            <label for="userId">用户账号</label>
            <input type="text" lay-verify="required" name="doctorName" placeholder="请输入所在单位的名称" autocomplete="off" id="userId" class="layui-input">
        </div>
        <div class="layui-form-item input-item">
            <label for="password">密码</label>
            <input type="password" lay-verify="required|password" name="doctorPwd" placeholder="请输入您的密码" autocomplete="off" id="password"
                   class="layui-input">
        </div>
        <div class="layui-form-item">
            <button class="layui-btn layui-block" lay-filter="login" lay-submit="">登录</button>
        </div>
        <a href="./pages/user/register.html"  class="layui-btn layui-btn-warm">注册</a>
        <a data-type="auto" id="forget"  class="">忘记密码</a>

        <p style="margin-top: 20px;font-size: 8px">若您在系统使用中存在问题，可反馈至邮箱：XXXX@163.com</p>
    </form>
</div>
<!--js逻辑-->
<script src="./lib/layui/layui.js"></script>
<script src="./js/jquery.min.js"></script>

<script>
    if (window != top) {
        top.location.href = location.href;
    }

    // 获取MainUri
    const mainUri = function () {
        let pathName = document.location.pathname;
        let index = pathName.substr(1).indexOf("/");
        let result = pathName.substr(0, index + 1);
        return result;
    }();

    layui.use(["form", "okGVerify", "okUtils", "okLayer", "okCookie", "okMd5", 'layer'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let okGVerify = layui.okGVerify;
        let okUtils = layui.okUtils;
        let okLayer = layui.okLayer;
        let okMd5 = layui.okMd5;
        var layer = layui.layer

        //次方法需要放在layui中才能使用
        function showloading(t) {
            if (t) {//如果是true则显示loading
                loading = layer.load(1, {
                    shade: [0.7, '#393D49'] //0.1透明度的白色背景
                });
            } else {//如果是false则关闭loading
                layer.closeAll('loading');
            }
        }

        $("#forget").click(function () {
            layer.open({
                title: '提示'
                ,content: '请联系管理员进行密码充值！邮箱:15487878@qq.com'
            });
        });

        /**
         * 表单提交
         */
        // form.on("submit(login)", function (data) {
        //     window.location="userLogin"
        //     return false;
        // });

        /**
         * 表单input组件单击时
         */
        $("#login .input-item .layui-input").click(function (e) {
            e.stopPropagation();
            $(this).addClass("layui-input-focus").find(".layui-input").focus();
        });

        /**
         * 表单input组件获取焦点时
         */
        $("#login .layui-form-item .layui-input").focus(function () {
            $(this).parent().addClass("layui-input-focus");
        });

        /**
         * 表单input组件失去焦点时
         */
        $("#login .layui-form-item .layui-input").blur(function () {
            $(this).parent().removeClass("layui-input-focus");
            if ($(this).val() != "") {
                $(this).parent().addClass("layui-input-active");
            } else {
                $(this).parent().removeClass("layui-input-active");
            }
        })
    });
</script>
</body>
</html>
